<section class="inner_page_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="breadcrumb_content">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Services</li>
                    </ol>
                    <h4 class="breadcrumb_title">Services</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our FAQ -->
<section class="our-faq bgc-f7">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h2 class="mt0">რატომ უნდა ვისარგებლოთ ფასიანი სერვისებით?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="faq_content">
                    <div class="faq_according">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" style="width: 97%; text-align: left;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">VIP +</button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                                    <div class="card-body">
                                        <p>
                                            განთავსდება Vip და სტანდარტული განცხადებების თავზე გამოჩნდება მთავარ გვერდზე სპეციალურ ბლოკში Vip +
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header active" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button style="width: 97%; text-align: left;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            VIP
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>განთავსდება სტანდარტული განცხადებების თავზე</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button style="width: 97%; text-align: left;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Super VIP</button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
                                    <div class="card-body">
                                        <p>
                                            განთავსდება სტანდარტული Vip და Vip + განცხადებების თავზე.გამოჩნდება მთავარ გვერდზე გამოყოფილ სლაიდერში
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button style="width: 97%; text-align: left;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">განცხადების გაფერადების სერვისი</button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample" style="">
                                    <div class="card-body">
                                        <p>იმისთვის, რომ თქვენი განცხადება გამორჩეული იყოს საერთო სიაში, შეგიძლიათ ისარგებლოთ განცხადების გაფერადების სერვისით.რის შემდეგაც თქვენი განცხადება საერთო სიაში სხვა განცხადებებისგან გამოიყოფა ფერით.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>