USE [DB_RealEstate]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/14/2021 4:35:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Icon] [nvarchar](100) NOT NULL,
	[ContentId] [int] NOT NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConnectedUsers]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConnectedUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User1] [int] NOT NULL,
	[User2] [int] NOT NULL,
 CONSTRAINT [PK_ConnectedUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Content] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentId] [int] NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurrentStatus]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ContentId] [int] NOT NULL,
 CONSTRAINT [PK_CurrentStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PropertyId] [int] NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Features]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentId] [int] NOT NULL,
 CONSTRAINT [PK_Features] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IPs]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_IPs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Abbr] [nvarchar](5) NOT NULL,
	[Flag] [nvarchar](max) NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentId] [int] NOT NULL,
	[Latitude] [decimal](10, 8) NULL,
	[Longitude] [decimal](11, 8) NULL,
	[CityId] [int] NOT NULL,
	[Zip] [int] NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MediaUrl] [nvarchar](max) NOT NULL,
	[PropertyId] [int] NOT NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConnectedUserId] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[Message] [nvarchar](300) NULL,
	[SendingDate] [datetime] NOT NULL,
	[Seen] [bit] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PropertySize] [decimal](18, 2) NOT NULL,
	[PropertyTypeId] [int] NULL,
	[StatusId] [int] NULL,
	[StateId] [int] NULL,
	[CadastralCode] [nvarchar](20) NULL,
	[Floor] [int] NULL,
	[Floors] [int] NULL,
	[Rooms] [int] NOT NULL,
	[Bedrooms] [int] NOT NULL,
	[CeilingSize] [decimal](18, 2) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[WholePrice] [decimal](18, 2) NOT NULL,
	[DatePublished] [datetime] NOT NULL,
	[UserDetailsId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[Bathrooms] [int] NULL,
	[Garages] [int] NULL,
	[LocationId] [int] NULL,
	[CurrentStatusId] [int] NULL,
 CONSTRAINT [PK_Property] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyContent]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyContent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[propertyId] [int] NOT NULL,
	[contentId] [int] NOT NULL,
 CONSTRAINT [PK_PropertyContent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyFeature]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyFeature](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[FeatureId] [int] NOT NULL,
	[Availability] [bit] NOT NULL,
 CONSTRAINT [PK_PropertyFeature] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyServices]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServicesId] [int] NOT NULL,
	[PropertyId] [int] NOT NULL,
	[ActivationDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_PropertyServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyType]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentId] [int] NOT NULL,
 CONSTRAINT [PK_PropertyType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyViews]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyViews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[IpId] [int] NOT NULL,
 CONSTRAINT [PK_PropertyViews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] NOT NULL,
	[UserDetailsId] [int] NOT NULL,
	[ReviewDate] [datetime] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[PropertyId] [int] NOT NULL,
	[Stars] [int] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentId] [int] NOT NULL,
	[Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialMediaLinks]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialMediaLinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[URL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SocialMediaLinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Id] [int] NOT NULL,
	[ContentId] [int] NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentId] [int] NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translations]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentId] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[LanguageId] [int] NOT NULL,
 CONSTRAINT [PK_Translations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActivities]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActivities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[VisitorId] [int] NULL,
	[PropertyId] [int] NULL,
	[ActivityId] [int] NOT NULL,
 CONSTRAINT [PK_UserActivities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 10/14/2021 4:35:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[Name] [nvarchar](128) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[LocationId] [int] NULL,
	[UserDetailsId] [int] NULL,
	[Picture] [nvarchar](max) NULL,
	[Website] [nvarchar](128) NULL,
	[Landscaping] [decimal](18, 2) NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([Id], [Name], [Icon], [ContentId]) VALUES (1, N'Property Upload', N'flaticon-home', 233)
INSERT [dbo].[Activities] ([Id], [Name], [Icon], [ContentId]) VALUES (2, N'Property Update', N'flaticon-home', 234)
INSERT [dbo].[Activities] ([Id], [Name], [Icon], [ContentId]) VALUES (3, N'Property Activation', N'flaticon-home', 235)
SET IDENTITY_INSERT [dbo].[Activities] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Agent')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Multi User')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Single User')
GO
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'117987862390991809233', N'52e93efa-d5c1-42a2-9687-6b0cbd82e514')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'104023689638963818497', N'ee316bc0-8a39-40ac-a562-b3c7b7f13e00')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'080f21ee-3feb-446a-8bfe-206f9d462695', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'52e93efa-d5c1-42a2-9687-6b0cbd82e514', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5e35f8a7-a4df-41a4-a170-6566560aa05e', N'2')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'080f21ee-3feb-446a-8bfe-206f9d462695', N'Ana@dvl.com', 0, N'ACTF+Bz8gm8F4RL8ZMPv2R8N2omxp61MQjLaGesKyO3lK+dt/otB3Xw8pGdDXeufUQ==', N'67b88f6e-d833-4927-bb87-dc03edc8d5b0', NULL, 0, 0, NULL, 1, 0, N'Ana@dvl.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0923e72f-9c96-429d-bb1a-1e40ea6e540e', N'advali@gmail.com', 0, N'AHrFg5C+8T9254NpHHBSbb8eLkloN/laf9wK89UtFAIr8KXOZ3qYlBOh0ytkhrii6A==', N'baf67502-f374-4225-8877-ff3993604533', NULL, 0, 0, NULL, 1, 0, N'advali@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'52e93efa-d5c1-42a2-9687-6b0cbd82e514', N'dvaliana9@gmail.com', 0, NULL, N'74b8be43-a8b2-4c7f-abf0-d7204dd9faa5', NULL, 0, 0, NULL, 1, 0, N'dvaliana9@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [ContentId], [CountryId]) VALUES (1, 47, 1)
INSERT [dbo].[Cities] ([Id], [ContentId], [CountryId]) VALUES (2, 48, 1)
INSERT [dbo].[Cities] ([Id], [ContentId], [CountryId]) VALUES (3, 49, 1)
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[ConnectedUsers] ON 

INSERT [dbo].[ConnectedUsers] ([Id], [User1], [User2]) VALUES (1, 1, 3)
INSERT [dbo].[ConnectedUsers] ([Id], [User1], [User2]) VALUES (2, 1, 2)
INSERT [dbo].[ConnectedUsers] ([Id], [User1], [User2]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[ConnectedUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Content] ON 

INSERT [dbo].[Content] ([Id], [Type]) VALUES (1, N'PropertyType_Label')
INSERT [dbo].[Content] ([Id], [Type]) VALUES (2, N'PropertyType_Apartment')
INSERT [dbo].[Content] ([Id], [Type]) VALUES (4, N'PropertyType_Condo')
GO
SET IDENTITY_INSERT [dbo].[Content] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [ContentId]) VALUES (1, 46)
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[CurrentStatus] ON 

INSERT [dbo].[CurrentStatus] ([Id], [Name], [ContentId]) VALUES (1, N'Pending', 220)
INSERT [dbo].[CurrentStatus] ([Id], [Name], [ContentId]) VALUES (2, N'Published', 221)
INSERT [dbo].[CurrentStatus] ([Id], [Name], [ContentId]) VALUES (3, N'Processing', 222)
SET IDENTITY_INSERT [dbo].[CurrentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Features] ON 

INSERT [dbo].[Features] ([Id], [ContentId]) VALUES (1, 50)
INSERT [dbo].[Features] ([Id], [ContentId]) VALUES (2, 51)
INSERT [dbo].[Features] ([Id], [ContentId]) VALUES (3, 52)
SET IDENTITY_INSERT [dbo].[Features] OFF
GO
SET IDENTITY_INSERT [dbo].[IPs] ON 

INSERT [dbo].[IPs] ([Id], [Address]) VALUES (1, N'192.168.1.14')
INSERT [dbo].[IPs] ([Id], [Address]) VALUES (2, N'149.3.58.28')
INSERT [dbo].[IPs] ([Id], [Address]) VALUES (3, N'31.146.53.57')
SET IDENTITY_INSERT [dbo].[IPs] OFF
GO
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([Id], [Name], [Abbr], [Flag]) VALUES (1, N'Georgian', N'GE', NULL)
INSERT [dbo].[Language] ([Id], [Name], [Abbr], [Flag]) VALUES (2, N'English', N'EN', NULL)
INSERT [dbo].[Language] ([Id], [Name], [Abbr], [Flag]) VALUES (3, N'Russian', N'RU', NULL)
SET IDENTITY_INSERT [dbo].[Language] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([Id], [ContentId], [Latitude], [Longitude], [CityId], [Zip]) VALUES (7, 166, CAST(12.00000000 AS Decimal(10, 8)), CAST(12.00000000 AS Decimal(11, 8)), 1, 12)
INSERT [dbo].[Location] ([Id], [ContentId], [Latitude], [Longitude], [CityId], [Zip]) VALUES (13, 190, CAST(12.00000000 AS Decimal(10, 8)), CAST(12.00000000 AS Decimal(11, 8)), 1, 12)
INSERT [dbo].[Location] ([Id], [ContentId], [Latitude], [Longitude], [CityId], [Zip]) VALUES (14, 193, CAST(3.00000000 AS Decimal(10, 8)), CAST(3.00000000 AS Decimal(11, 8)), 1, 3)
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Media] ON 

INSERT [dbo].[Media] ([Id], [MediaUrl], [PropertyId]) VALUES (1, N'../../Content/images/property/54/1.png', 54)
INSERT [dbo].[Media] ([Id], [MediaUrl], [PropertyId]) VALUES (2, N'../../Content/images/property/54/2.jpeg', 54)
INSERT [dbo].[Media] ([Id], [MediaUrl], [PropertyId]) VALUES (3, N'../../Content/images/property/54/3.jpeg', 54)
SET IDENTITY_INSERT [dbo].[Media] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [ConnectedUserId], [SenderId], [Message], [SendingDate], [Seen]) VALUES (2, 1, 1, N'Hello', CAST(N'2021-06-07T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Messages] ([Id], [ConnectedUserId], [SenderId], [Message], [SendingDate], [Seen]) VALUES (4, 2, 2, N'I was interested in your property', CAST(N'2021-06-09T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Messages] ([Id], [ConnectedUserId], [SenderId], [Message], [SendingDate], [Seen]) VALUES (5, 2, 1, N'Hello', CAST(N'2021-06-28T12:21:38.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Property] ON 

INSERT [dbo].[Property] ([Id], [Price], [PropertySize], [PropertyTypeId], [StatusId], [StateId], [CadastralCode], [Floor], [Floors], [Rooms], [Bedrooms], [CeilingSize], [PhoneNumber], [WholePrice], [DatePublished], [UserDetailsId], [Active], [Bathrooms], [Garages], [LocationId], [CurrentStatusId]) VALUES (23, CAST(899.00 AS Decimal(18, 2)), CAST(898.00 AS Decimal(18, 2)), 1, 1, 1, N'80809', NULL, NULL, 989, 8080, CAST(9808.00 AS Decimal(18, 2)), NULL, CAST(899.00 AS Decimal(18, 2)), CAST(N'2020-11-29T17:11:29.933' AS DateTime), 1, 1, 80980, 8098, 7, 2)
INSERT [dbo].[Property] ([Id], [Price], [PropertySize], [PropertyTypeId], [StatusId], [StateId], [CadastralCode], [Floor], [Floors], [Rooms], [Bedrooms], [CeilingSize], [PhoneNumber], [WholePrice], [DatePublished], [UserDetailsId], [Active], [Bathrooms], [Garages], [LocationId], [CurrentStatusId]) VALUES (54, CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, 1, 1, N'lkj', NULL, NULL, 1, 1, CAST(1.00 AS Decimal(18, 2)), NULL, CAST(1.00 AS Decimal(18, 2)), CAST(N'2020-12-03T16:50:23.063' AS DateTime), 1, 1, 1, 1, 7, 2)
INSERT [dbo].[Property] ([Id], [Price], [PropertySize], [PropertyTypeId], [StatusId], [StateId], [CadastralCode], [Floor], [Floors], [Rooms], [Bedrooms], [CeilingSize], [PhoneNumber], [WholePrice], [DatePublished], [UserDetailsId], [Active], [Bathrooms], [Garages], [LocationId], [CurrentStatusId]) VALUES (62, CAST(12.00 AS Decimal(18, 2)), CAST(12.00 AS Decimal(18, 2)), 1, 1, 1, N'sdf', NULL, NULL, 12, 2, CAST(2.00 AS Decimal(18, 2)), NULL, CAST(12.00 AS Decimal(18, 2)), CAST(N'2020-12-04T17:25:37.777' AS DateTime), 1, 1, 1, 1, 13, 2)
SET IDENTITY_INSERT [dbo].[Property] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyContent] ON 

INSERT [dbo].[PropertyContent] ([Id], [propertyId], [contentId]) VALUES (24, 54, 164)
INSERT [dbo].[PropertyContent] ([Id], [propertyId], [contentId]) VALUES (25, 54, 165)
INSERT [dbo].[PropertyContent] ([Id], [propertyId], [contentId]) VALUES (40, 62, 188)
SET IDENTITY_INSERT [dbo].[PropertyContent] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyFeature] ON 

INSERT [dbo].[PropertyFeature] ([Id], [PropertyId], [FeatureId], [Availability]) VALUES (1, 54, 1, 0)
INSERT [dbo].[PropertyFeature] ([Id], [PropertyId], [FeatureId], [Availability]) VALUES (2, 54, 2, 0)
INSERT [dbo].[PropertyFeature] ([Id], [PropertyId], [FeatureId], [Availability]) VALUES (3, 54, 3, 0)
SET IDENTITY_INSERT [dbo].[PropertyFeature] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyServices] ON 

INSERT [dbo].[PropertyServices] ([Id], [ServicesId], [PropertyId], [ActivationDate], [Active]) VALUES (4, 1, 54, CAST(N'2020-12-17T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[PropertyServices] ([Id], [ServicesId], [PropertyId], [ActivationDate], [Active]) VALUES (8, 3, 62, CAST(N'2020-12-17T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[PropertyServices] ([Id], [ServicesId], [PropertyId], [ActivationDate], [Active]) VALUES (9, 4, 63, CAST(N'2020-12-17T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PropertyServices] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyType] ON 

INSERT [dbo].[PropertyType] ([Id], [ContentId]) VALUES (1, 2)
INSERT [dbo].[PropertyType] ([Id], [ContentId]) VALUES (3, 4)
INSERT [dbo].[PropertyType] ([Id], [ContentId]) VALUES (4, 5)
SET IDENTITY_INSERT [dbo].[PropertyType] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyViews] ON 

INSERT [dbo].[PropertyViews] ([Id], [PropertyId], [IpId]) VALUES (1, 54, 1)
INSERT [dbo].[PropertyViews] ([Id], [PropertyId], [IpId]) VALUES (2, 54, 2)
INSERT [dbo].[PropertyViews] ([Id], [PropertyId], [IpId]) VALUES (3, 62, 2)
SET IDENTITY_INSERT [dbo].[PropertyViews] OFF
GO
INSERT [dbo].[Reviews] ([Id], [UserDetailsId], [ReviewDate], [Comment], [PropertyId], [Stars]) VALUES (0, 1, CAST(N'2021-01-22T15:02:26.590' AS DateTime), N'lkhlhkj kdh ssdkd saslkd', 54, 3)
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [ContentId], [Price]) VALUES (1, 194, CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[Services] ([Id], [ContentId], [Price]) VALUES (2, 195, CAST(8.00 AS Decimal(18, 2)))
INSERT [dbo].[Services] ([Id], [ContentId], [Price]) VALUES (3, 196, CAST(2.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
INSERT [dbo].[State] ([Id], [ContentId]) VALUES (1, 128)
INSERT [dbo].[State] ([Id], [ContentId]) VALUES (2, 129)
INSERT [dbo].[State] ([Id], [ContentId]) VALUES (3, 130)
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [ContentId]) VALUES (1, 8)
INSERT [dbo].[Status] ([Id], [ContentId]) VALUES (2, 9)
INSERT [dbo].[Status] ([Id], [ContentId]) VALUES (3, 199)
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Translations] ON 

INSERT [dbo].[Translations] ([Id], [ContentId], [Text], [LanguageId]) VALUES (1, 2, N'Apartment', 2)
INSERT [dbo].[Translations] ([Id], [ContentId], [Text], [LanguageId]) VALUES (2, 2, N'ბინა', 1)
INSERT [dbo].[Translations] ([Id], [ContentId], [Text], [LanguageId]) VALUES (3, 2, N'квартира', 3)
GO
SET IDENTITY_INSERT [dbo].[Translations] OFF
GO
SET IDENTITY_INSERT [dbo].[UserActivities] ON 

INSERT [dbo].[UserActivities] ([Id], [UserId], [VisitorId], [PropertyId], [ActivityId]) VALUES (1, 1, NULL, 72, 1)
INSERT [dbo].[UserActivities] ([Id], [UserId], [VisitorId], [PropertyId], [ActivityId]) VALUES (2, 1, NULL, 54, 1)
INSERT [dbo].[UserActivities] ([Id], [UserId], [VisitorId], [PropertyId], [ActivityId]) VALUES (3, 1, NULL, NULL, 6)
SET IDENTITY_INSERT [dbo].[UserActivities] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

INSERT [dbo].[UserDetails] ([Id], [UserId], [Name], [LastName], [Phone], [LocationId], [UserDetailsId], [Picture], [Website], [Landscaping]) VALUES (1, N'e2d5e8c6-08fc-46e6-b5fd-8aee66466efe', N'Ana', N'Dvalii', N'555528498', NULL, NULL, N'../../Content/images/agents/pnk mrbl.jpg', NULL, NULL)
INSERT [dbo].[UserDetails] ([Id], [UserId], [Name], [LastName], [Phone], [LocationId], [UserDetailsId], [Picture], [Website], [Landscaping]) VALUES (2, N'080f21ee-3feb-446a-8bfe-206f9d462695', N'Ana', N'Dvali', N'555528490', NULL, NULL, N'../../Content/images/agents/pnk mrbl.jpg', NULL, NULL)
INSERT [dbo].[UserDetails] ([Id], [UserId], [Name], [LastName], [Phone], [LocationId], [UserDetailsId], [Picture], [Website], [Landscaping]) VALUES (3, N'f23f1ff0-7523-4e76-8d16-42e3dc4ce7b5', N'Mamuka', N'Kurtskhalidze', N'555204528', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Content]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Content]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries]
GO
ALTER TABLE [dbo].[ConnectedUsers]  WITH CHECK ADD  CONSTRAINT [FK_ConnectedUsers_UserDetails] FOREIGN KEY([User1])
REFERENCES [dbo].[UserDetails] ([Id])
GO
ALTER TABLE [dbo].[ConnectedUsers] CHECK CONSTRAINT [FK_ConnectedUsers_UserDetails]
GO
ALTER TABLE [dbo].[ConnectedUsers]  WITH CHECK ADD  CONSTRAINT [FK_ConnectedUsers_UserDetails1] FOREIGN KEY([User2])
REFERENCES [dbo].[UserDetails] ([Id])
GO
ALTER TABLE [dbo].[ConnectedUsers] CHECK CONSTRAINT [FK_ConnectedUsers_UserDetails1]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Content]
GO
ALTER TABLE [dbo].[CurrentStatus]  WITH CHECK ADD  CONSTRAINT [FK_CurrentStatus_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[CurrentStatus] CHECK CONSTRAINT [FK_CurrentStatus_Content]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Property]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_UserDetails] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetails] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_UserDetails]
GO
ALTER TABLE [dbo].[Features]  WITH CHECK ADD  CONSTRAINT [FK_Features_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[Features] CHECK CONSTRAINT [FK_Features_Content]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_Cities]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_Content1] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_Content1]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([Id])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_Property]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_ConnectedUsers] FOREIGN KEY([ConnectedUserId])
REFERENCES [dbo].[ConnectedUsers] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_ConnectedUsers]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_UserDetails] FOREIGN KEY([SenderId])
REFERENCES [dbo].[UserDetails] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_UserDetails]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_CurrentStatus] FOREIGN KEY([CurrentStatusId])
REFERENCES [dbo].[CurrentStatus] ([Id])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_CurrentStatus]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_Location] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_Location]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_PropertyType] FOREIGN KEY([PropertyTypeId])
REFERENCES [dbo].[PropertyType] ([Id])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_PropertyType]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([Id])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_State]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_Status]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_UserDetails] FOREIGN KEY([UserDetailsId])
REFERENCES [dbo].[UserDetails] ([Id])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_UserDetails]
GO
ALTER TABLE [dbo].[PropertyContent]  WITH CHECK ADD  CONSTRAINT [FK_PropertyContent_Content] FOREIGN KEY([contentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[PropertyContent] CHECK CONSTRAINT [FK_PropertyContent_Content]
GO
ALTER TABLE [dbo].[PropertyContent]  WITH CHECK ADD  CONSTRAINT [FK_PropertyContent_Property] FOREIGN KEY([propertyId])
REFERENCES [dbo].[Property] ([Id])
GO
ALTER TABLE [dbo].[PropertyContent] CHECK CONSTRAINT [FK_PropertyContent_Property]
GO
ALTER TABLE [dbo].[PropertyFeature]  WITH CHECK ADD  CONSTRAINT [FK_PropertyFeature_Features] FOREIGN KEY([FeatureId])
REFERENCES [dbo].[Features] ([Id])
GO
ALTER TABLE [dbo].[PropertyFeature] CHECK CONSTRAINT [FK_PropertyFeature_Features]
GO
ALTER TABLE [dbo].[PropertyFeature]  WITH CHECK ADD  CONSTRAINT [FK_PropertyFeature_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([Id])
GO
ALTER TABLE [dbo].[PropertyFeature] CHECK CONSTRAINT [FK_PropertyFeature_Property]
GO
ALTER TABLE [dbo].[PropertyServices]  WITH CHECK ADD  CONSTRAINT [FK_PropertyServices_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([Id])
GO
ALTER TABLE [dbo].[PropertyServices] CHECK CONSTRAINT [FK_PropertyServices_Property]
GO
ALTER TABLE [dbo].[PropertyServices]  WITH CHECK ADD  CONSTRAINT [FK_PropertyServices_Services] FOREIGN KEY([ServicesId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[PropertyServices] CHECK CONSTRAINT [FK_PropertyServices_Services]
GO
ALTER TABLE [dbo].[PropertyType]  WITH CHECK ADD  CONSTRAINT [FK_PropertyType_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[PropertyType] CHECK CONSTRAINT [FK_PropertyType_Content]
GO
ALTER TABLE [dbo].[PropertyViews]  WITH CHECK ADD  CONSTRAINT [FK_PropertyViews_IPs] FOREIGN KEY([IpId])
REFERENCES [dbo].[IPs] ([Id])
GO
ALTER TABLE [dbo].[PropertyViews] CHECK CONSTRAINT [FK_PropertyViews_IPs]
GO
ALTER TABLE [dbo].[PropertyViews]  WITH CHECK ADD  CONSTRAINT [FK_PropertyViews_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([Id])
GO
ALTER TABLE [dbo].[PropertyViews] CHECK CONSTRAINT [FK_PropertyViews_Property]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Property]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Property1] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Property1]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_UserDetails] FOREIGN KEY([UserDetailsId])
REFERENCES [dbo].[UserDetails] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_UserDetails]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_UserDetails1] FOREIGN KEY([UserDetailsId])
REFERENCES [dbo].[UserDetails] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_UserDetails1]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Content]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_Content]
GO
ALTER TABLE [dbo].[Status]  WITH CHECK ADD  CONSTRAINT [FK_Status_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[Status] CHECK CONSTRAINT [FK_Status_Content]
GO
ALTER TABLE [dbo].[Translations]  WITH CHECK ADD  CONSTRAINT [FK_Translations_Content] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([Id])
GO
ALTER TABLE [dbo].[Translations] CHECK CONSTRAINT [FK_Translations_Content]
GO
ALTER TABLE [dbo].[Translations]  WITH CHECK ADD  CONSTRAINT [FK_Translations_Language] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Language] ([Id])
GO
ALTER TABLE [dbo].[Translations] CHECK CONSTRAINT [FK_Translations_Language]
GO
ALTER TABLE [dbo].[UserActivities]  WITH CHECK ADD  CONSTRAINT [FK_UserActivities_Activities] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[Activities] ([Id])
GO
ALTER TABLE [dbo].[UserActivities] CHECK CONSTRAINT [FK_UserActivities_Activities]
GO
ALTER TABLE [dbo].[UserActivities]  WITH CHECK ADD  CONSTRAINT [FK_UserActivities_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([Id])
GO
ALTER TABLE [dbo].[UserActivities] CHECK CONSTRAINT [FK_UserActivities_Property]
GO
ALTER TABLE [dbo].[UserActivities]  WITH CHECK ADD  CONSTRAINT [FK_UserActivities_UserDetails] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetails] ([Id])
GO
ALTER TABLE [dbo].[UserActivities] CHECK CONSTRAINT [FK_UserActivities_UserDetails]
GO
ALTER TABLE [dbo].[UserActivities]  WITH CHECK ADD  CONSTRAINT [FK_UserActivities_UserDetails1] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[UserDetails] ([Id])
GO
ALTER TABLE [dbo].[UserActivities] CHECK CONSTRAINT [FK_UserActivities_UserDetails1]
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserDetails_Location] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_UserDetails_Location]
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserDetails_UserDetails] FOREIGN KEY([UserDetailsId])
REFERENCES [dbo].[UserDetails] ([Id])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_UserDetails_UserDetails]
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserDetails_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_UserDetails_Users]
GO
