<!-- Modal -->
<div class="modal fade" id="userDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile Details</h5>
            </div>
            <div class="modal-body">
                Please update your profile to upload your property
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="document.location.href='My_Profile';">My Profile</button>
            </div>
        </div>
    </div>
</div>

